.login {  
  font-size: 0.9rem;
  color: white; /* Define a cor do texto como branco */
  cursor: pointer;
  transition: color 0.3s ease; /* Animação para mudança de cor no hover */
}
.login:hover{
  color: #00aaff;
}


.formularioDiv {
  background-color: rgb(var(--loja-light-grey-rgb));
  border: 1px solid rgb(var(--loja-light-blue-rgb));
}

.formularioForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 1rem 0rem;
  text-align: center;
  min-height: 150px;
}

.formularioForm label {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}

.formularioForm label span {
  display: inline-block;
  width: 10%;
}

.formularioForm label input {
  display: inline-block;
  width: 40%;
}


.formularioForm p {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}

.formularioPainel {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 100%;
}

.formularioPainel button {
  font-size: 60%;
  font-weight: bold;
  height: 25px;
  width: 120px;
  margin: 1rem;
  cursor: pointer;
}

.painelCRUD {
  margin-top: 20px;
  font-size: 1.0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.painelCRUD button {
  font-size: 100%;
  height: 25px;
  width: 120px;
  margin: 0 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
}


.tabeladiv {
  max-height: 100%;
}

.tabela {
  padding: 2px;
  text-align: left;
  width: 100%;
  color: white;
  background-color: #1E1E1E ;
  margin-top: 20px;
}

.tabela th{
  padding: 0.5rem;
  font-size: 1rem; 
  text-align: center;
 
}

.tabela td {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: none;
}

.tabela th {
  color: rgb(var(--loja-light-grey-rgb));
  font-weight: bold;
  position: sticky;
  top: 0;
}
.card {
  display: flex;
  background-color: #444;
  color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  width: 1200px;
}


.card_image img {
  width: 80px;
  height: 80px;
}

.card_content {
  flex: 1;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
}

.card_image h3 {
  margin: 0;
  font-size: 1.2rem;
}

.card_content p {
  align-self: center;
  margin-top: 8px;
  font-size: 0.9rem;
  color: #ccc;
}
